.not-found-container {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 40px;
  padding-top: 90px;
}
.not-found-image {
  width: 350px;
}
.not-found-heading {
  color: #fff;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}
.not-found-description {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 400;
}
@media screen and (min-width:768px){
  .not-found-image {
    width: 450px;
  }
  .not-found-heading {
    color: #fff;
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 500;
  }
  .not-found-description {
    color: #cbd5e1;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
  }
}