.filters-group-container {
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 300px;
    min-width: 240px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}
.search-input-container {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #7e858e;
  margin-bottom: 20px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .search-input-container {
    display: none;
  }
}
.search-input {
  background-color: transparent;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  flex-grow: 1;
  padding-left: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 16px;
}
.search-button {
  background-color: #475569;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
}
.search-icon {
  color: #ffffff;
  width: 15px;
  height: 15px;
}
.hr-line {
  border: 1px solid #475569;
}
.filter-container {
  display: flex;
  flex-direction: column;
}
.filter-heading {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}
.filter-type-list-container {
  padding-left: 0px;
  margin: 0px;
  margin-top: 5px;
}
.filter-list-item {
  list-style-type: none;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.check-input {
  width: 13px;
  height: 13px;
  cursor: pointer;
}
.filter-label {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 13px;
  margin-left: 5px;
  cursor: pointer;
}
